/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Add a black background color to the top div */
/*, #7372DC 80% */
.topDiv {
  display: flex;
  background-image: linear-gradient( 170deg, #7436CD, #7436CD 15%, #744ED4 15%, #744ED4 60%, #7372DC 60%, #7372DC 75%, white 75%);
  height: 580px;
  justify-content: center;
}



.login {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #84D29A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero {
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

h1 {
  color: white;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#input {
  margin: 5px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  width: 12rem;
  font-size: small;
}

#searchButton {
  margin: 5px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #84D29A;
  font-size: small;
}

.green {
  color: #84D29A;
}

.topnav {
  box-sizing: border-box;
  background-color: transparent;
  width: 100vw;
  padding: 1rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.down {
  background-color: #7436CD;
}

#navBrand {
  font-size: medium;
}

.topnav-right {
  float: right;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: small;
}

#scrollButton {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #84D29A;
  font-size: large;
  height: 50px;
  width: 50px;
}

.scrollBox {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  font-size: small;
  align-items: center;
  color: white
}

/* Change the color of links on hover */
.topnav a:hover {
  color: whitesmoke;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav-right a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a {
    color: #555555;
    display: block;
  }
}

.midDiv {
  background-image: linear-gradient( 170deg, white, white 65%, #F6F9FC 65%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

p {
  color: #555555;
}

.paragraph {
  text-align: center;
  max-width: 500px;
  font-size: small;
  color: #555555;
}

.accountButton {
  margin: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #7372DC;
  font-size: x-small;
}

#contact {
  color: #744ED4;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin-top: -10px;
  border: none;
  height: 2px;
  background-color: #222222;
}

.servicesBox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 700px;
}

.card {
  display: flex;
  margin: 0.5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #F6F9FC;
}

.serviceName {
  margin: 0;
}

.description {
  font-size: x-small;
}

.writing {
  display: flex;
  font-size: small;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

img {
  margin-left: -20px;
  width: 80px;
  margin-right: 5px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 80px;
  bottom: 0;
  background-color: #7372DC;
  height: 100%;
}

.info {
  display: flex;
  padding: 20px;
  min-width: 150px;
  min-height: 100px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.info > p {
  font-size: small;
  color: white;
  margin: 5px;
}

div.accounts {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  min-width: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.ready {
  display: flex;
  min-width: 470px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.h5 {
  color: white;
  margin: 5px;
}

#kk {
  margin: 5px;
  color: #7372DC;
}

#ll {
  margin: 5px;
  color: #744ED4;
}

@media screen and (max-width: 700px) {
  .card {
    max-width: none;
  }

  .footer {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .ready {
    align-items: center;
  }
}











 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


